body {
    padding-top: 5%;
    background-color: rgb(37, 37, 37);
    color:rgb(206, 206, 206);
}

a {
    color:aqua;
}

.header {
    top:0;
    left:0;
    position:fixed;
    text-align: center;
    background-color: black;
    padding:5px;
    width:100%;
}

#key {
    top:0;
    right:0;
    padding-top: 10vh;
    position: fixed;
}

.axis line{
    stroke: rgb(206, 206, 206);
}

.axis path{
    stroke:rgb(206, 206, 206);
}

.axis text{
    fill:rgb(206, 206, 206);
}

.text {
    fill:rgb(206, 206, 206);
}

.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
}

.bubbles:hover {
    stroke: rgb(255, 255, 255);
}